<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel = "icon" href = "../svgs/logo.svg"/>
    <link rel = "stylesheet" href = "../styles/output.css"/>
    <link rel = "stylesheet" href = "../styles/admin.css"/>
    <link rel = "stylesheet" href = "../styles/navigation.css"/>
    <script type = "text/javascript" src = "../scripts/admin/CreateTableData.js"></script>
    <script type = "text/javascript" src = "../scripts/admin/CreateTableRow.js"></script>
</head>
<body>
    <main id = "admin-main">
        <div id = "admin-main-background"></div>
        <div id = "navigation-output"></div>
        <div id = "admin-area">
            <div id = "admin-table-div">
                <table id = "admin-table">
                    <tbody id = "table-tbody">
                        <tr id = "table-title-tr">
                            <th class = "table-titles">ID</th>
                            <th class = "table-titles">Primeiro nome</th>
                            <th class = "table-titles">Último nome</th>
                            <th class = "table-titles">Aniversário</th>
                            <th class = "table-titles">Gênero</th>
                            <th class = "table-titles">E-mail</th>
                            <th class = "table-titles">Telefone</th>
                            <th class = "table-titles">Senha</th>
                            <th class = "table-titles">Admin</th>
                            <th class = "table-titles">Ícone</th>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
        <section class="closed" id = "controls-main">
            <div class="closed" id = "controls-area" style = "transform: translateY(calc(var(--controls-button-size) + calc(var(--controls-button-margin) * 2)));">
                <div id = "controls-open-div">
                    <button type="button" id = "controls-open-button">
                        <img class = "closed" id = "controls-open-image" src = "../svgs/arrow.svg"></img>
                    </button>
                </div>
                <div id = "controls-div">
                    <!-- Botão de criar tabela -->
                    <div class = "controls-buttons-divs">
                        <button type="button" class="controls-buttons" id = "create-registers-table-button">
                            <div class="controls-buttons-image-divs">
                                <img class = "controls-buttons-images" src = "../svgs/admin/silhouetteplus.svg"></img>
                            </div>
                            <div class="controls-buttons-text-divs">
                                <span class="controls-buttons-texts">Criar tabela de cadastros</span>
                            </div>
                        </button>
                    </div>
                    <!-- Botão de excluir tabela -->
                    <div class = "controls-buttons-divs">
                        <button type="button" class="controls-buttons" id = "drop-registers-table-button">
                            <div class="controls-buttons-image-divs">
                                <img class = "controls-buttons-images" src = "../svgs/admin/silhouetteminus.svg"></img>
                            </div>
                            <div class="controls-buttons-text-divs">
                                <span class="controls-buttons-texts">Excluir tabela de cadastros</span>
                            </div>
                        </button>
                    </div>
                    <!-- Botão de excluir -->
                    <div class = "controls-buttons-divs">
                        <button type="button" class="controls-buttons" id = "delete-data-button">
                            <div class="controls-buttons-image-divs">
                                <img class = "controls-buttons-images" src = "../svgs/admin/garbage.svg"></img>
                            </div>
                            <div class="controls-buttons-text-divs">
                                <span class="controls-buttons-texts">Excluir usuários</span>
                            </div>
                        </button>
                    </div>
                    <!-- Botão de adicionar administradores -->
                    <div class = "controls-buttons-divs">
                        <button type="button" class="controls-buttons" id = "admin-add-button">
                            <div class="controls-buttons-image-divs">
                                <img class = "controls-buttons-images" src = "../svgs/admin/admin.svg"></img>
                            </div>
                            <div class="controls-buttons-text-divs">
                                <span class="controls-buttons-texts">Adicionar administradores</span>
                            </div>
                        </button>
                    </div>
                    <!-- Botão de criar tabela de sessões -->
                    <div class = "controls-buttons-divs">
                        <button type="button" class="controls-buttons" id = "create-sessions-table-button">
                            <div class="controls-buttons-image-divs">
                                <img class = "controls-buttons-images" src = "../svgs/admin/create.svg"></img>
                            </div>
                            <div class="controls-buttons-text-divs">
                                <span class="controls-buttons-texts">Criar tabela de sessões</span>
                            </div>
                        </button>
                    </div>
                    <!-- Botão de excluir tabela de sessões -->
                    <div class = "controls-buttons-divs">
                        <button type="button" class="controls-buttons" id = "drop-sessions-table-button">
                            <div class="controls-buttons-image-divs">
                                <img class = "controls-buttons-images" src = "../svgs/admin/drop.svg"></img>
                            </div>
                            <div class="controls-buttons-text-divs">
                                <span class="controls-buttons-texts">Excluir tabela de sessões</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <div id = "popup-absolute"></div>
    </main>
    <script type="text/javascript" src = "../scripts/admin/adminAddButton.js"></script><!-- Evento do botão para adicionar administradores -->
    <script type="text/javascript" src = "../scripts/admin/createRegistersTableButton.js"></script>
    <script type="text/javascript" src = "../scripts/admin/createSessionsTableButton.js"></script>
    <script type="text/javascript" src = "../scripts/admin/deleteDataButton.js"></script>
    <script type="text/javascript" src = "../scripts/admin/dropRegistersTableButton.js"></script>
    <script type="text/javascript" src = "../scripts/admin/dropSessionsTableButton.js"></script>
    <script type="text/javascript" src = "../scripts/admin/openControls.js"></script>
    <script type="text/javascript" src = "../scripts/admin/popupCreate.js"></script>
    <script type="text/javascript" src = "../scripts/admin/popupDelete.js"></script>
    <script type="text/javascript" src = "../scripts/admin/popupRunAnimation.js"></script>
    <script type = "text/javascript">
        let navigation = `<%- include("navigation.ejs") %>`;
        document.querySelector("#navigation-output").innerHTML = navigation;
        <% if(typeof registers !="undefined" && registers) { %>
            let registersLoaded = <%- JSON.stringify(registers) %>;
            console.table(registersLoaded);
            registersLoaded.forEach((reg) => {
                CreateTableRow({register: reg});
            });
        <% } %>
        <% if(typeof user !="undefined" && user) { %>
            var user = <%- JSON.stringify(user) %>;
            console.log(user);
            if(user) {
                var userId = user.userId;
            };
        <% } %>
    </script>
    <script type="text/javascript" src = "../scripts/admin/trSelect.js"></script>
</body>
</html>