<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel = "icon" href = "../svgs/logo.svg"/>
    <link rel = "stylesheet" href = "../styles/output.css"/>
    <link rel = "stylesheet" href = "../styles/admin.css"/>
    <link rel = "stylesheet" href = "../styles/navigation.css"/>
    <script type="text/javascript" src = "../scripts/admin/controlsButtonCreate.js"></script>
    <script type = "text/javascript" src = "../scripts/admin/CreateTableData.js"></script>
    <script type = "text/javascript" src = "../scripts/admin/CreateTableRow.js"></script>
    
</head>
<body>
    <main id = "admin-main">
        <div id = "admin-main-background"></div>
        <div id = "navigation-output"></div>
        <div id = "admin-area">
            <div id = "admin-table-div">
                <table id = "admin-table">
                    <tbody id = "table-tbody">
                        <tr id = "table-title-tr">
                            <th class = "table-titles">ID</th>
                            <th class = "table-titles">Primeiro nome</th>
                            <th class = "table-titles">Último nome</th>
                            <th class = "table-titles">Aniversário</th>
                            <th class = "table-titles">Gênero</th>
                            <th class = "table-titles">E-mail</th>
                            <th class = "table-titles">Telefone</th>
                            <th class = "table-titles">Senha</th>
                            <th class = "table-titles">Admin</th>
                            <th class = "table-titles">Ícone</th>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
        <section class="closed" id = "controls-main">
            <div class="closed" id = "controls-area" style = "transform: translateY(calc(var(--controls-button-size) + calc(var(--controls-button-margin) * 2)));">
                <div id = "controls-open-div">
                    <button type="button" id = "controls-open-button">
                        <img class = "closed" id = "controls-open-image" src = "../svgs/arrow.svg"></img>
                    </button>
                </div>
                <div id = "controls-div">
                </div>
            </div>
        </section>
        <div id = "popup-absolute"></div>
    </main>
    <script type="text/javascript" src = "../scripts/admin/getTableRowsSelected.js"></script>
    <script type="text/javascript" src = "../scripts/admin/openControls.js"></script>
    <script type="text/javascript" src = "../scripts/admin/popupCreate.js"></script>
    <script type="text/javascript" src = "../scripts/admin/popupDelete.js"></script>
    <script type="text/javascript" src = "../scripts/admin/popupRunAnimation.js"></script>
    <script type = "text/javascript">
        /* Criando botões de configuração */
        controlsButtonCreate({id: "create-registers-table-button", icon: "../svgs/admin/silhouetteplus.svg", text: "Criar tabela de cadastros"});
        controlsButtonCreate({id: "drop-registers-table-button", icon: "../svgs/admin/silhouetteminus.svg", text: "Excluir tabela de cadastros"});
        controlsButtonCreate({id: "delete-data-button", icon: "../svgs/admin/garbage.svg", text: "Excluir usuários"});
        controlsButtonCreate({id: "admin-add-button", icon: "../svgs/admin/crownplus.svg", text: "Adicionar administradores"});
        controlsButtonCreate({id: "admin-remove-button", icon: "../svgs/admin/crownminus.svg", text: "Remover administradores"});
        controlsButtonCreate({id: "create-sessions-table-button", icon: "../svgs/admin/create.svg", text: "Criar tabela de sessões"});
        controlsButtonCreate({id: "drop-sessions-table-button", icon: "../svgs/admin/drop.svg", text: "Excluir tabela de sessões"});
        

        /* Adicionando barra de navegação */
        let navigation = `<%- include("navigation.ejs") %>`;
        document.querySelector("#navigation-output").innerHTML = navigation;
        <% if(typeof registers !="undefined" && registers) { %>
            let registersLoaded = <%- JSON.stringify(registers) %>;
            console.table(registersLoaded);
            registersLoaded.forEach((reg) => {
                CreateTableRow({register: reg});
            });
        <% } %>
        <% if(typeof user !="undefined" && user) { %>
            var user = <%- JSON.stringify(user) %>;
            console.log(user);
            if(user) {
                var userId = user.userId;
            };
        <% } %>
    </script>    
    <script type="text/javascript" src = "../scripts/admin/adminAddButton.js"></script><!-- Evento do botão para adicionar administradores -->
    <script type="text/javascript" src = "../scripts/admin/adminRemoveButton.js"></script><!-- Evento do botão para remover administradores -->
    <script type="text/javascript" src = "../scripts/admin/createRegistersTableButton.js"></script><!-- Evento do botão para criar a tabela de registros -->
    <script type="text/javascript" src = "../scripts/admin/createSessionsTableButton.js"></script><!-- Evento do botão para criar a tabela de sessões -->
    <script type="text/javascript" src = "../scripts/admin/deleteDataButton.js"></script><!-- Evento do botão para excluir usuários -->
    <script type="text/javascript" src = "../scripts/admin/dropRegistersTableButton.js"></script><!-- Evento do botão para excluir a tabela de registros -->
    <script type="text/javascript" src = "../scripts/admin/dropSessionsTableButton.js"></script><!-- Evento do botão para excluir a tabela de sessões -->
    <script type="text/javascript" src = "../scripts/admin/trSelect.js"></script>
</body>
</html>