<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Node</title>
    <link rel = "icon" href = "../svgs/logo.svg"/>
    <link rel = "stylesheet" href = "../styles/output.css"/>
    <link rel = "stylesheet" href = "../styles/home.css"/>
    <link rel = "stylesheet" href = "../styles/homeInfoArea.css"/>
    <link rel = "stylesheet" href = "../styles/navigation.css"/>
</head>
<body>
    <div class ="closed" id = "home-fixed-menu">
        <div id = "fixed-area">
            <div class = "closed" id = "fixed-close-area"></div>
            <div class = "closed" id = "fixed-div">
                <header id = "fixed-header">
                    <div id = "fixed-close-div">
                        <button type="button" id = "fixed-close-button" onclick="fixedMenuClose()">
                            <img id = "fixed-close-icon" src = "../svgs/home/close.svg"></img>
                        </button>
                    </div>
                    <div id = "fixed-title-div">
                        <h1 id = "fixed-title">Alterar ícone</h1>
                    </div>
                </header>
                <main id = "fixed-main">
                    <div id = "fixed-main-texts-div">
                        <div id = "fixed-main-title-div">
                            <h1 id = "fixed-main-title">Foto de perfil</h1>
                        </div>
                        <div id = "fixed-main-description-div">
                            <h1 id = "fixed-main-description">Escolha uma foto de perfil para deixar seu perfil com a sua cara</h1>
                        </div>
                    </div>
                    <div id = "fixed-main-icon-div">
                        <button type="button" accesskey="i" id = "fixed-main-icon-button">
                            <img id = "fixed-main-icon" src = "../images/usericon.png"></img>
                        </button>
                    </div>
                    <div id = "fixed-main-buttons-div">
                        <div class = "fixed-main-buttons-divs">
                            <input type="file" class = "fixed-main-inputs hidden" id="alter-icon-input" accept="image/png, image/jpg, image/jpeg"/>
                            <button type = "button" class="fixed-main-buttons" id = "alter-icon-button">
                                <img class = "fixed-main-buttons-icons" src = "../svgs/home/pencil.svg"></img>
                                <span class = "fixed-main-buttons-texts">Alterar</span>
                            </button>
                        </div>
                        <div class = "fixed-main-buttons-divs">
                            <button type="button" class="fixed-main-buttons" id = "remove-icon-button">
                                <img class = "fixed-main-buttons-icons" src = "../svgs/home/garbage.svg"></img>
                                <span class = "fixed-main-buttons-texts">Remover</span>
                            </button>
                        </div>
                    </div>
                </main>
            </div>
            <div class = "confirm-areas closed" id = "new-icon-area">
                <div class = "confirm-close-divs left">
                    <button type="button" class = "confirm-close-buttons" id = "new-return-button">
                        <img class = "confirm-close-icons" src = "../svgs/home/left.svg"></img>
                    </button>
                </div>
                <div class = "confirm-close-divs right">
                    <button type="button" class = "confirm-close-buttons" id = "new-close-button">
                        <img class = "confirm-close-icons" src = "../svgs/home/close.svg"></img>
                    </button>
                </div>
                <div class = "confirm-area-title-divs" id = "new-icon-title-div">
                    <h1 class = "confirm-area-titles" id = "new-icon-title">Nova foto de perfil</h1>
                </div>
                <div class = "confirm-area-description-divs" id = "new-icon-description-div">
                    <h1 class = "confirm-area-descriptions" id = "new-icon-description">Tem certeza que deseja salvar esta imagem como foto de perfil?</h1>
                </div>
                <div class = "icon-divs" id = "new-icon-div">
                    <img id = "new-icon" src = ""></img>
                    <div id = "crop-div">
                        <div id = "crop-square">
                            <div class = "crop-arrows top"></div>
                            <div class = "crop-arrows left"></div>
                            <div class = "crop-arrows right"></div>
                            <div class = "crop-arrows bottom"></div>
                            <div class = "crop-arrows top-left"></div>
                            <div class = "crop-arrows top-right"></div>
                            <div class = "crop-arrows bottom-left"></div>
                            <div class = "crop-arrows bottom-right"></div>
                        </div>
                    </div>
                </div>
                <div id = "confirm-buttons-div">
                    <div class = "confirm-buttons-divs">
                        <button type = "button" class = "confirm-buttons" id = "alter-confirm">
                            <img class = "confirm-buttons-icons" src = "../svgs/home/yes.svg"></img>
                            <p class = "confirm-buttons-texts">Confirmar</p>
                        </button>
                    </div>
                    <div class = "confirm-buttons-divs">
                        <button type = "button" class = "confirm-buttons" id = "alter-cancel">
                            <img class = "confirm-buttons-icons" src = "../svgs/home/no.svg"></img>
                            <p class = "confirm-buttons-texts">Cancelar</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class = "confirm-areas closed" id = "remove-icon-confirm-area">
                <div class = "confirm-close-divs left">
                    <button type="button" class = "confirm-close-buttons" id = "old-return-button">
                        <img class = "confirm-close-icons" src = "../svgs/home/left.svg"></img>
                    </button>
                </div>
                <div class = "confirm-close-divs right">
                    <button type="button" class = "confirm-close-buttons" id = "old-close-button">
                        <img class = "confirm-close-icons" src = "../svgs/home/close.svg"></img>
                    </button>
                </div>
                <div class = "confirm-area-title-divs" id = "remove-icon-title-div">
                    <h1 class = "confirm-area-titles" id = "remove-icon-title">Remover foto de perfil</h1>
                </div>
                <div class = "confirm-area-description-divs" id = "remove-icon-description-div">
                    <h1 class = "confirm-area-descriptions" id = "remove-icon-description">Tem certeza que deseja remover esta imagem como foto de perfil?</h1>
                </div>
                <div class = "icon-divs" id = "old-icon-div">
                    <img class = "icons" id = "old-icon" src = ""></img>
                </div>
                <div id = "confirm-buttons-div">
                    <div class = "confirm-buttons-divs">
                        <button type = "button" class = "confirm-buttons" id = "remove-confirm">
                            <img class = "confirm-buttons-icons" src = "../svgs/home/yes.svg"></img>
                            <p class = "confirm-buttons-texts">Confirmar</p>
                        </button>
                    </div>
                    <div class = "confirm-buttons-divs">
                        <button type = "button" class = "confirm-buttons" id = "remove-cancel">
                            <img class = "confirm-buttons-icons" src = "../svgs/home/no.svg"></img>
                            <p class = "confirm-buttons-texts">Cancelar</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class = "closed" id = "loading-area">
                <div id = "loading-div">
                    <img id = "loading" src = "../images/home/loading.gif"></img>
                </div>
            </div>
        </div>
    </div>
    <div id = "popup-absolute">
    </div>
    <div id = "navigation-output"></div>
    <script>
        let navigation = `<%- include("navigation.ejs") %>`;
        document.querySelector("#navigation-output").innerHTML = navigation;
    </script>
    <main id = "home-main">
        <aside id = "home-aside">
            <div id = "home-menu">
                <ul id = "home-menu-list">
                    <li class = "home-menu-items">
                        <button type = "button" class = "home-menu-buttons selected" id = "menu-user-button">
                            <div class = "home-menu-icon-divs">
                                <img class = "home-menu-icons" src = "../svgs/home/user.svg"></img>
                            </div>
                            <div class = "home-menu-text-divs">
                                <p class = "home-menu-texts">Início</p>
                            </div>
                        </button>
                    </li>
                    <li class = "home-menu-items">
                        <button type = "button" class = "home-menu-buttons" id = "menu-info-button">
                            <div class = "home-menu-icon-divs">
                                <img class = "home-menu-icons" src = "../svgs/home/info.svg"></img>
                            </div>
                            <div class = "home-menu-text-divs">
                                <p class = "home-menu-texts">Informações pessoais</p>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </aside>
        <div id = "home-area">
            <div class = "areas selected" id = "user-area">
                <section class = "home-area-divs" id = "home-texts-div">
                    <div id = "user-icon-button-div">
                        <button id = "user-icon-button" onclick="fixedMenuOpen()">
                            <img id = "user-icon" src = "../images/usericon.png"></img>
                        </button>
                    </div>
                    <h1 id = "welcome-message"></h1>
                    <p id = "home-online-text">Você está online!</p>
                </section>
                <div id = "buttons-logout-flex">
                    <section class = "home-area-divs" id = "home-buttons-div">
                        <div id = "home-main-area">
                            <button type = "button" class = "home-main-buttons" id = "info-button" onclick="homeAreaInfo()">
                                <div id = "custom-area">
                                    <div class = "main-texts-divs">
                                        <div class = "main-button-title-divs">
                                            <h1 class = "main-button-titles">Informações</h1>
                                        </div>
                                        <div id = "custom-description-div">
                                            <p id = "custom-description">Veja todas as suas informações pessoais</p>
                                        </div>
                                    </div>
                                    <div id = "custom-icon-div">
                                        <img id = "custom-icon" src = "../svgs/home/usercard.svg"></img>
                                    </div>
                                </div>
                            </button>
                            <button type = "button" class = "home-main-buttons" id = "custom-button" onclick="fixedMenuOpen()">
                                <div id = "custom-area">
                                    <div class = "main-texts-divs" id = "custom-texts-div">
                                        <div class = "main-button-title-divs">
                                            <h1 class = "main-button-titles">Customização</h1>
                                        </div>
                                        <div id = "custom-description-div">
                                            <p id = "custom-description">Personalize a sua conta para deixá-la com a sua cara</p>
                                        </div>
                                    </div>
                                    <div id = "custom-icon-div">
                                        <img id = "custom-icon" src = "../svgs/home/custom.svg"></img>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </section>
                    <section class = "home-area-divs" id = "home-logout-div">
                        <div id = "home-logout-button-div">
                            <a href = "/" id = "home-logout-button-link">
                                <button type = "button" id = "home-logout-button">
                                    <div id = "logout-button-icon-div">
                                        <svg id = "logout-button-icon" xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 1280.000000 1085.000000" preserveAspectRatio="xMidYMid meet">
                                            <g id = "logout-icon-g" transform="translate(0.000000,1085.000000) scale(0.100000,-0.100000)" stroke="none">
                                                <path d="M3449 10837 c-20 -8 -49 -23 -65 -35 -59 -43 -3343 -3338 -3360 -3372 -23 -45 -24 -143 -2 -190 8 -19 431 -533 939 -1141 508 -608 1228 -1470 1599 -1915 371 -445 702 -840 734 -878 75 -87 142 -122 218 -113 68 8 126 43 163 97 l30 45 3 1166 2 1166 78 17 c328 69 819 116 1217 116 1668 -1 3233 -594 4555 -1725 1068 -914 1997 -2192 2736 -3768 117 -250 150 -289 256 -303 68 -9 126 12 179 65 74 73 77 95 45 346 -256 1983 -832 3673 -1689 4955 -571 853 -1262 1536 -2077 2052 -924 585 -2011 947 -3190 1063 -297 29 -484 37 -840 37 -443 -1 -800 -24 -1157 -76 l-83 -12 -2 1131 c-3 1030 -4 1133 -20 1160 -21 39 -65 83 -101 102 -41 21 -125 26 -168 10z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div id = "logout-button-text-div">
                                        <a href="/logout" id = "logout-button-text">Log Out</a>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <script type = "text/javascript" src = "../scripts/home/alterCancel.js"></script>
    <script type = "text/javascript" src = "../scripts/home/alterConfirm.js"></script>
    <script type = "text/javascript" src = "../scripts/home/alterIconButton.js"></script>
    <script type = "text/javascript" src = "../scripts/home/alterIconFile.js"></script>
    <script type = "text/javascript" src = "../scripts/home/alterIconInputRemove.js"></script>
    <script type = "text/javascript" src = "../scripts/home/cropResize.js"></script>
    <script type = "text/javascript" src = "../scripts/home/cropSquare.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedClosedAreaClose.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedClosedAreaOpen.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedDivClose.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedDivOpen.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedMainIconButton.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedMainIconFileRead.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedMainIconSet.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedMenuClose.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedMenuEvent.js"></script>
    <script type = "text/javascript" src = "../scripts/home/fixedMenuOpen.js"></script>
    <script type = "text/javascript" src = "../scripts/home/homeMenuButtons.js"></script>
    <script type = "text/javascript" src = "../scripts/home/infoArticleImage.js" defer></script>
    <script type = "text/javascript" src = "../scripts/home/loadingAreaClose.js"></script>
    <script type = "text/javascript" src = "../scripts/home/loadingAreaOpen.js"></script>
    <script type = "text/javascript" src = "../scripts/home/logoutIcon.js"></script>
    <script type = "text/javascript" src = "../scripts/home/newCloseButton.js"></script>
    <script type = "text/javascript" src = "../scripts/home/newIconAreaClose.js"></script>
    <script type = "text/javascript" src = "../scripts/home/newIconAreaOpen.js"></script>
    <script type = "text/javascript" src = "../scripts/home/newIconRemove.js"></script>
    <script type = "text/javascript" src = "../scripts/home/newIconSet.js"></script>
    <script type = "text/javascript" src = "../scripts/home/newReturnButton.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldCloseButton.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldIconAreaClose.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldIconBuffer.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldIconLoadingEnd.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldIconLoadingStart.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldIconRemove.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldIconSet.js"></script>
    <script type = "text/javascript" src = "../scripts/home/oldReturnButton.js"></script>
    <script type = "text/javascript" src = "../scripts/home/popupCreate.js"></script>
    <script type = "text/javascript" src = "../scripts/home/popupDelete.js"></script>
    <script type = "text/javascript" src = "../scripts/home/popupRunAnimation.js"></script>
    <script type = "text/javascript" src = "../scripts/home/removeCancel.js"></script>
    <script type = "text/javascript" src = "../scripts/home/removeConfirm.js"></script>
    <script type = "text/javascript" src = "../scripts/home/removeIconAreaClose.js"></script>
    <script type = "text/javascript" src = "../scripts/home/removeIconButton.js"></script>
    <script type = "text/javascript" src = "../scripts/home/userIconFileRead.js"></script>
    <script type = "text/javascript" src = "../scripts/home/userIconSet.js"></script>
    <script type = "text/javascript">
        var standardUserIcon = "../images/usericon.png";
        /* Home Info */
        let homeInfo = `<%- include("homeInfoArea.ejs") %>`;
        let parser = new DOMParser();
        let homeInfoHtml = parser.parseFromString(homeInfo, 'text/html');
        document.querySelector("#home-area").appendChild(homeInfoHtml.body.querySelector(".areas"));

        <% if(typeof user !="undefined" && user) { %>
            const welcomeMessage = document.querySelector("#welcome-message");
            const fixedMainIcon = document.querySelector("#fixed-main-icon");
            var user = <%- JSON.stringify(user) %>;
            console.log(user);
            if(user) {
                var userId = user.userId;
                const firstName = user.firstName;
                const lastName = user.lastName;
                const date = new Date(user.date);
                const gender = user.gender;
                const email = user.email;
                const phone = user.phone;
                const icon = user.icon;

                const day = date.getDate();
                let month = parseInt(date.getMonth() + 1);
                const year = date.getFullYear();
                if(month <= 9) {
                    month = `0${month}`;
                }
                document.querySelector("#user-name").innerHTML = `${firstName} ${lastName}`;
                document.querySelector("#user-date").innerHTML = `${day}/${month}/${year}`;
                document.querySelector("#user-email").innerHTML = `${email}`;
                document.querySelector("#user-phone").innerHTML = `${phone}`;

                let welcomeMsg = "";
                switch(gender) {
                    case "M":
                        welcomeMsg = "Bem-vindo";
                        document.querySelector("#user-gender").innerHTML = `Masculino`;
                        break;
                    case "F":
                        welcomeMsg = "Bem-vinda";
                        document.querySelector("#user-gender").innerHTML = `Feminino`;
                        break;
                    default:
                        welcomeMsg = "Bem-vindo(a)";
                        document.querySelector("#user-gender").innerHTML = `Outro`;
                        break;
                };
                welcomeMsg = welcomeMsg + `, ${firstName} ${lastName}!`;
                welcomeMessage.textContent = welcomeMsg;
                if(icon) {
                    function toBase64(arr) {
                        return btoa(
                            arr.reduce((data, byte) => data + String.fromCharCode(byte), '')
                        );
                    };
                    let iconBase64 = toBase64(icon.data);
                    let userAvatar = `data:image/png;base64,${iconBase64}`;
                    userIconSet(userAvatar);
                    fixedMainIcon.src = userAvatar;
                };
            };
        <% } %>
    </script>
</body>
</html>