<div class = "areas" id = "info-area">
    <article id = "info-article">
        <section class = "info-article-sections">
            <div id = "info-article-title-div">
                <h1 class = "info-titles" id = "info-article-title">Informações do perfil</h1>
            </div>
            <div id = "info-article-description-div">
                <p class = "info-subtitles" id = "info-article-description">Resumo de todas as informações pessoais do seu perfil.</p>
            </div>
        </section>
        <section class = "info-article-sections" id = "info-article-image-section">
            <div id = "info-article-image-div">
                <img id = "info-article-image" src = "../svgs/home/usercard.svg"></img>
            </div>
        </section>
    </article>
    <div id = "info-main">
        <div class = "info-modals">
            <div class = "info-modals-divs">
                <header class = "info-modals-headers">
                    <div class = "info-modals-texts-divs">
                        <div class = "info-modals-title-divs">
                            <h1 class = "info-titles">Informações básicas</h1>
                        </div>
                        <div class = "info-modals-subtitle-divs">
                            <h1 class = "info-modals-subtitles">Confira todas as informações do seu perfil.</h1>
                        </div>
                    </div>
                </header>
            </div>
            <div id = "info-modals-info-divs">
                <button type = "button" class = "info-modals-buttons">
                    <div class = "modals-buttons-flex">
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-title-divs">
                                <span class = "modals-buttons-titles">Nome</span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-result-divs">
                                <span class = "modals-buttons-results" id = "user-name"></span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-edit-divs">
                                <img class = "edit-icons" src= "../svgs/home/edit.svg"></img>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div id = "info-modals-info-divs">
                <button type = "button" class = "info-modals-buttons">
                    <div class = "modals-buttons-flex">
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-title-divs">
                                <span class = "modals-buttons-titles">Data de nascimento</span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-result-divs">
                                <span class = "modals-buttons-results" id = "user-date"></span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-edit-divs">
                                <img class = "edit-icons" src= "../svgs/home/edit.svg"></img>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div id = "info-modals-info-divs">
                <button type = "button" class = "info-modals-buttons">
                    <div class = "modals-buttons-flex">
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-title-divs">
                                <span class = "modals-buttons-titles">Gênero</span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-result-divs">
                                <span class = "modals-buttons-results" id = "user-gender"></span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-edit-divs">
                                <img class = "edit-icons" src= "../svgs/home/edit.svg"></img>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div id = "info-modals-info-divs">
                <button type = "button" class = "info-modals-buttons">
                    <div class = "modals-buttons-flex">
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-title-divs">
                                <span class = "modals-buttons-titles">E-mail</span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-result-divs">
                                <span class = "modals-buttons-results" id = "user-email"></span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-edit-divs">
                                <img class = "edit-icons" src= "../svgs/home/edit.svg"></img>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div id = "info-modals-info-divs">
                <button type = "button" class = "info-modals-buttons">
                    <div class = "modals-buttons-flex">
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-title-divs">
                                <span class = "modals-buttons-titles">Telefone</span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-result-divs">
                                <span class = "modals-buttons-results" id = "user-phone"></span>
                            </div>
                        </div>
                        <div class = "modals-buttons-divs">
                            <div class = "modals-buttons-edit-divs">
                                <img class = "edit-icons" src= "../svgs/home/edit.svg"></img>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>