<div id = "navigation">
    <div id = "navigation-grid">
        <div class = "navigation-divs">
            <div id = "navigation-button-div">
                <a href = "/" id = "home-link">
                    <button type="button" id = "navigation-button">
                        <img src = "../svgs/logo.svg" id = "navigation-icon"></img>
                        <p id = "navigation-text">Login Node</p>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>