<div id = "navigation">
    <div id = "navigation-grid">
        <div class = "navigation-divs">
            <div id = "home-div">
                <a href = "/home" id = "home-link">
                    <button type="button" id = "home-button">
                        <img src = "../svgs/logo.svg" id = "home-icon"></img>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>