<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Node - Cadastro</title>
    <link rel = "icon" href = "../images/favicon.png"/>
    <link rel = "stylesheet" href = "../styles/output.css"/>
    <link rel = "stylesheet" href = "../styles/sign.css"/>
    <link rel = "stylesheet" href = "../styles/register.css"/>
</head>
<body class = "sign-bodies">
    <main class = "sign-mains">
        <div class = "sign-containers">
            <div class = "sign-areas">
                <section class = "sign-headers">
                    <div class = "sign-title-divs">
                        <p class = "sign-titles">Cadastre-se</p>
                    </div>
                    <div class = "sign-subtitle-divs">
                        <p class = "sign-subtitles">Fácil e rápido</p>
                    </div>
                </section>
                <section class = "sign-form-sections">
                    <form class = "sign-forms" id = "signup-form" method="post" action ="/signup/validate">
                        <div class = "sign-grid-divs" id = "sign-grid-1">
                            <label class = "sign-labels" for = "first-name">Primeiro nome:</label>
                            <input type = "text" class = "sign-text-inputs" name = "firstName" id = "first-name"/>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-2">
                            <label class = "sign-labels" for = "last-name">Último nome:</label>
                            <input type = "text" class = "sign-text-inputs" name = "lastName" id = "last-name"/>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-3">
                            <label class = "sign-labels" for = "date">Aniversário:</label>
                            <input type = "date" class = "sign-text-inputs" name = "date" id = "date"/>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-4">
                            <label class = "sign-labels">Gênero:</label>
                            <div id = "sign-radio-option-div">
                                <div class = "sign-radio-divs">
                                    <input type = "radio" class = "sign-gender-inputs" name = "gender" value = "M" id = "gender-m" required/>
                                    <label class = "sign-labels gender" for = "gender-m">Masculino</label>
                                </div>
                                <div class = "sign-radio-divs">
                                    <input type = "radio" class = "sign-gender-inputs" name = "gender" value = "F" id = "gender-f" required/>
                                    <label class = "sign-labels gender" for = "gender-f">Feminino</label>
                                </div>
                                <div class = "sign-radio-divs">
                                    <input type = "radio" class = "sign-gender-inputs" name = "gender" value = "O" id = "gender-o" required/>
                                    <label class = "sign-labels gender" for = "gender-o">Outro</label>
                                </div>
                            </div>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-5">
                            <label class = "sign-labels" for = "email">E-mail:</label>
                            <div class = "sign-input-divs">
                                <input type = "email" class = "sign-text-inputs" name = "email" id = "email" placeholder = "E-mail"/>
                                <img class = "input-warning-icons hide" id = "email-warning" src = "../images/warning.png">
                            </div>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-6">
                            <label class = "sign-labels" for = "phone">Telefone:</label>
                            <input type = "tel" class = "sign-text-inputs" name = "phone" id = "phone"/>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-7">
                            <label class = "sign-labels" for = "password">Senha:</label>
                            <input type = "password" class = "sign-text-inputs" name = "password" id = "password"/>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-8">
                            <label class = "sign-labels" for = "password-validate">Verificar senha:</label>
                            <input type = "password" class = "sign-text-inputs" id = "password-validate"/>
                        </div>
                        <div class = "sign-grid-divs" id = "sign-grid-9">
                            <button type="submit" class="sign-submits" id = "signup-submit">Enviar</button>
                        </div>
                    </form>

                    <div class = "sign-redirect-divs">
                        <span class = "sign-redirects">Já tem uma conta? <a class = "sign-redirect-links" href = "/login">Faça login</a></span>
                    </div>
                    <div class = "sign-warning-divs">
                        <span class = "sign-warnings text-red-500" id = "signup-warning"></span>
                    </div>
                </section>
                <script type="text/javascript">
                    let email = document.querySelector("#email");
                    let emailWarning = document.querySelector("#email-warning");
                    let warning = document.querySelector("#signup-warning");
                    <% if(typeof error !="undefined" && error) { %>
                        let errorType = <%- error.type %>;
                        let errorMessage = <%- error.message %>;

                        if(errorType == "EmailExists") {
                            email.style.outline = "1px solid #f02020";
                            emailWarning.classList.remove("hide");
                        };
                        warning.innerHTML = errorMessage;
                    <% } %>
                </script>
            </div>
        </div>
    </main>
    <script type = "text/javascript" src = "../scripts/passwordValidate.js"></script>
    <script type = "text/javascript" src = "../scripts/radioValidate.js"></script>
    <script type = "text/javascript" src = "../scripts/validateSignup.js"></script>
    <script type = "text/javascript" src = "../scripts/warningAlert.js"></script>
</body>
</html>