:root {
    --admin-main-background-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    --controls-open-height: 30px;
    --controls-button-size: 40px;
    --controls-button-margin: 10px;
    --table-border-radius: 10px;
    --popup-width: 300px;
    --popup-height: 50px;
    --popup-color: #151a20;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #202a30;
}

/* Área absoluta do popup */
#popup-absolute {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Popups */
.popups {
    position: absolute;
    bottom: calc(0px + calc(var(--popup-height) / 2));
    min-width: var(--popup-width);
    height: var(--popup-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--popup-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.3s;
    animation: PopupReveal 0.1s ease-out 1;
}
@keyframes PopupReveal {
    0% {
        transform: translateY(-10px);
    }
}

.popups[class~="closed"] {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-30px);
}

/* Barras do popup */
.popup-bars {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.3s;
}

.popups[class~="green"] > .popup-bars {
    background-color: #20ff60;
}
.popups[class~="red"] > .popup-bars {
    background-color: #f02020;
}

/* Divs das mensagens do popup */
.popup-message-divs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mensagens dos popups */
.popup-messages {
    color: #fff;
    font-size: 16px;
}

#admin-main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/scenaries/scenary(0).png");
    background-size: 100% 100%;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    animation: AdminMainBackground 10s linear infinite;
}
@keyframes AdminMainBackground {
    33% {
        background-image: url("../images/scenaries/scenary(1).png");
    }
    67% {
        background-image: url("../images/scenaries/scenary(2).png");
    }
}

#admin-main-background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--admin-main-background-gradient);
}

#admin-area {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-table {
    background-color: rgba(20, 25, 30, 0.9);
    padding: 0.5rem;
    border: unset;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.table-tr {
    cursor: pointer;
    height: 30px;
    transition: all 0.1s;
}
.table-tr[class~="2"] {
    background-color: rgba(128, 128, 128, 0.1);
}
.table-tr[class~="selected"] {
    background-color: #2090ff60;
}

#table-title-tr {
    height: 30px;
    background-color: rgb(20, 25, 30, 1);
}

.table-titles {
    width: 30px;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
}

.table-data {
    color: #f0f0f0;
    font-size: 10px;
    font-weight: 400;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0px 10px;
    text-align: left;
    text-wrap: nowrap;
}

#controls-main {
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
#controls-main[class~="closed"] {
    pointer-events: none;
    background-color: unset;
}

#controls-open-div {
    pointer-events: all;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls-open-button {
    padding: 10px;
}

#controls-open-image {
    width: 52px;
    height: 42px;
    transition: all 0.3s;
}
#controls-open-image[class~="closed"] {
    transform: rotate3d(1, 0, 0, 180deg);
}

#controls-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
}

#controls-div {
    width: 100%;
    height: calc(var(--controls-button-size) + calc(var(--controls-button-margin) * 2));
    background-color: rgba(20, 25, 30, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.controls-buttons {
    position: relative;
    width: var(--controls-button-size);
    height: var(--controls-button-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: 2px solid #fff;
    transition: all 0.3s;
}
.controls-buttons:hover, .controls-buttons:focus {
    outline: 2px solid #20ff60;
    transform: scale(1.1);
}

.controls-buttons-images {
    width: 30px;
    height: 30px;
    filter: grayscale(1) brightness(2);
    transition: all 0.3s;
}

.controls-buttons:hover > .controls-buttons-images,
.controls-buttons:hover > .controls-buttons-image-divs > .controls-buttons-images,
.controls-buttons:focus > .controls-buttons-images,
.controls-buttons:focus > .controls-buttons-image-divs > .controls-buttons-images {
    filter: unset;
}

/* Divs dos textos dos botões de controle */
.controls-buttons-text-divs {
    pointer-events: none;
    position: absolute;
    top: -25px;
    left: calc(200% / 4 * -1);
    width: 200%;
    opacity: 0;
    transition: all 0.3s;
}
.controls-buttons:hover > .controls-buttons-text-divs {
    opacity: 1;
}

.controls-buttons-texts {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2px;
    text-align: center;
    text-wrap: nowrap;
    transition: all 0.3s;
}

.controls-buttons:hover > .controls-buttons-texts,
.controls-buttons:hover > .controls-buttons-text-divs > .controls-buttons-texts,
.controls-buttons:focus > .controls-buttons-texts,
.controls-buttons:focus > .controls-buttons-text-divs > .controls-buttons-texts {
    color: #20ff60;
}

@media screen and (max-width: 480px) {
    #admin-table {
        width: 100%;
    }

    .table-tr {
        width: 100%;
    }

    .table-titles {
        font-size: 8px;
        width: calc(100vw / 8);
        padding: unset;
    }

    .table-data {
        width: calc(100vw / 8);
        max-width: calc(100vw / 8);
        overflow: auto;
        font-size: 5px;
    }
}