:root {
    --confirm-buttons-width: 120px;
    --confirm-buttons-height: 35px;
    --confirm-buttons-icons-width: 18px;
    --confirm-buttons-icons-height: 18px;
    --confirm-close-buttons-width: 48px;
    --confirm-close-buttons-height: 48px;
    --crop-arrows-size: 33.333%;
    --crop-square-size: 100px;
    --fixed-button-size: 48px;
    --fixed-div-width: 400px;
    --fixed-header-height: 56px;
    --fixed-main-buttons-width: 150px;
    --fixed-main-buttons-height: 35px;
    --icon-width: 200px;
    --icon-height: 200px;
    --loading-width: 48px;
    --loading-height: 48px;
    --logout-button-color: #20ff60;
    --menu-color: transparent/*#151a20*/;
    --menu-width: 280px;
    --menu-max-width: 300px;
    --menu-icons-size: 28px;
    --menu-items-height: 50px;
    --popup-width: 300px;
    --popup-height: 50px;
    --popup-color: #202a30;
    --usericon-size: 96px;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #202a30;
    background-image: linear-gradient(45deg, #101a20, #202a30);
    background-size: 100% 100%;
    overflow-x: hidden;
}

img, svg {
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Menu fixo */
#home-fixed-menu {
    pointer-events: none;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
#home-fixed-menu[class~="closed"] {
    opacity: 0;
}

/* Área fixa */
#fixed-area {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Área para fechar área fixa */
#fixed-close-area {
    pointer-events: all;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#fixed-close-area[class~="closed"] {
    pointer-events: none;
}

/* Div fixa */
#fixed-div {
    pointer-events: all;
    position: fixed;
    z-index: 2;
    width: var(--fixed-div-width);
    background-color: #202a30;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.3s;
}
#fixed-div[class~="closed"] {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50px);
}

/* Header fixo */
#fixed-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--fixed-header-height);
}

/* Div do botão de fechar div fixa */
#fixed-close-div {
    position: absolute;
    top: calc(calc(var(--fixed-header-height) - var(--fixed-button-size)) / 2);
    left: calc(calc(var(--fixed-header-height) - var(--fixed-button-size)) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão de fechar div fixa */
#fixed-close-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--fixed-button-size);
    height: var(--fixed-button-size);
    border-radius: 50%;
    transition: all 0.3s;
}
#fixed-close-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Ícone do botão de fechar div fixa */
#fixed-close-icon {
    width: 24px;
    height: 24px;
}

/* Título da div fixa */
#fixed-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

/* Área principal da área fixa */
#fixed-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Div dos textos da área fixa principal */
#fixed-main-texts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

/* Div do título da área fixa principal */
#fixed-main-title-div {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Título da área fixa principal */
#fixed-main-title {
    color: #fff;
    font-size: 20px;
    text-align: left;
}

/* Div da descrição da área fixa principal */
#fixed-main-description-div {
    width: 100%;
    margin-bottom: 10px;
}

/* Descrição da área fixa principal */
#fixed-main-description {
    color: #b0b0b0;
    font-size: 16px;
    text-align: left;
}

/* Div do ícone na área fixa principal */
#fixed-main-icon-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão do ícone na área principal */
#fixed-main-icon-button {
    width: 200px;
    height: 200px;
}

/* Ícone na área principal */
#fixed-main-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.3s;
}
#fixed-main-icon-button:hover > #fixed-main-icon {
    border-radius: 0;
}

/* Inputs de arquivo escondidos */
.fixed-main-inputs[class~="hidden"] {
    display: none;
}

/* Div dos botões da área fixa principal */
#fixed-main-buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

/* Divs de cada botão da área fixa principal */
.fixed-main-buttons-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Botões da área fixa principal */
.fixed-main-buttons {
    width: var(--fixed-main-buttons-width);
    height: var(--fixed-main-buttons-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 3px;
    outline: 1px solid #20ff60;
    transition: all 0.3s;
}
.fixed-main-buttons:hover {
    background-color: #20ff60;
    box-shadow: 0px 0px 10px #20ff60;
    transform: scale(1.05);
}

/* Ícones dos botões da área fixa principal */
.fixed-main-buttons-icons {
    width: 18px;
    height: 18px;
    transition: all 0.3s;
}
.fixed-main-buttons:hover > .fixed-main-buttons-icons {
    filter: grayscale(1) brightness(1.5);
}

/* Textos dos botões da área fixa principal */
.fixed-main-buttons-texts {
    color: #20ff60;
    transition: all 0.3s;
}
.fixed-main-buttons:hover > .fixed-main-buttons-texts {
    color: #fff;
}

/* Áreas de confirmação */
.confirm-areas {
    position: relative;
    pointer-events: all;
    position: fixed;
    z-index: 3;
    width: var(--fixed-div-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202a30;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: all 0.3s;
}
.confirm-areas[class~="closed"] {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50px);
}

/* Divs dos botões de fechar áreas de confirmação */
.confirm-close-divs {
    position: absolute;
    top: calc(calc(var(--fixed-header-height) - var(--fixed-button-size)) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-close-divs[class~="left"] {
    left: calc(calc(var(--fixed-header-height) - var(--fixed-button-size)) / 2);
}
.confirm-close-divs[class~="right"] {
    right: calc(calc(var(--fixed-header-height) - var(--fixed-button-size)) / 2);
}

/* Botões de fechar áreas de confirmação */
.confirm-close-buttons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--confirm-close-buttons-width);
    height: var(--confirm-close-buttons-height);
    border-radius: 50%;
    transition: all 0.3s;
}
.confirm-close-buttons:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Ícones dos botões de fechar áreas de confirmação */
.confirm-close-icons {
    width: 24px;
    height: 24px;
}

/* Divs dos títulos das áreas de confirmação */
.confirm-area-title-divs {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Títulos das áreas de confirmação */
.confirm-area-titles {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

/* Div da descrição do novo ícone */
.confirm-area-description-divs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* Descriçãos das áreas de confirmações */
.confirm-area-descriptions {
    color: #b0b0b0;
    font-size: 16px;
    text-align: center;
    max-width: 90%;
}

/* Divs dos ícones */
.icon-divs {
    /*min-width: var(--icon-width);
    min-height: var(--icon-height);*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    outline: 3px double #a0a0a0;
}

/* Div do ícone novo */
#new-icon-div {
    position: relative;
}

#new-icon {
    max-width: 100%;
    max-height: unset;
}

/* Canvas do ícone novo */
#new-icon-canvas {
    width: unset;
    max-width: 400px;
}

/* Ícones */
.icons {
    -webkit-user-drag: all;
    user-select: all;
    -ms-user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    width: var(--icon-width);
    height: var(--icon-height);
    object-fit: cover;
    transition: all 0.3s;
}
.icons[class~="loading"] {
    width: calc(var(--icon-width) / 4);
    height: calc(var(--icon-height) / 4);
    object-fit: contain;
}

/* Div de crop */
#crop-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Quadrado do crop */
#crop-square {
    cursor: move;
    position: absolute;
    /*top: calc(50% - calc(var(--crop-square-size) / 2));
    left: calc(50% - calc(var(--crop-square-size) / 2));*/
    min-width: var(--crop-square-size);
    min-height: var(--crop-square-size);
    max-width: 100%;
    max-height: 100%;
    background-image: url("../svgs/home/crop-circle.svg");
    background-position: center;
    background-size: 100% 100%;
    border: 2px solid #a0a0a0;
}

/* Setas do crop */
.crop-arrows {
    position: absolute;
    z-index: 1;
    height: var(--crop-arrows-size);
    width: var(--crop-arrows-size);
    outline: none;
}
.crop-arrows.top-left {
    cursor: nw-resize;
    top: 0;
    left: 0;
    background-color: red;
    box-shadow: -5px -5px #fff;
}
.crop-arrows.top {
    cursor: n-resize;
    top: 0;
    left: calc(50% - calc(var(--crop-arrows-size)) / 2);
    background-color: orange;
}
.crop-arrows.top-right {
    cursor: ne-resize;
    top: 0;
    left: calc(100% - var(--crop-arrows-size));
    background-color: yellow;
    box-shadow: 5px -5px #fff;
}
.crop-arrows.left {
    cursor: w-resize;
    top: calc(50% - calc(var(--crop-arrows-size)) / 2);
    left: 0;
    background-color: green;
}
.crop-arrows.right {
    cursor: e-resize;
    top: calc(50% - calc(var(--crop-arrows-size)) / 2);
    left: calc(100% - var(--crop-arrows-size));
    background-color: cyan;
}
.crop-arrows.bottom-left {
    cursor: sw-resize;
    top: calc(100% - var(--crop-arrows-size));
    left: 0;
    background-color: blue;
    box-shadow: -5px 5px #fff;
}
.crop-arrows.bottom {
    cursor: s-resize;
    top: calc(100% - var(--crop-arrows-size));
    left: calc(50% - calc(var(--crop-arrows-size)) / 2);
    background-color: purple;
}
.crop-arrows.bottom-right {
    cursor: se-resize;
    top: calc(100% - var(--crop-arrows-size));
    left: calc(100% - var(--crop-arrows-size));
    background-color: magenta;
    box-shadow: 5px 5px #fff;
}

/* Div dos botões de novo ícone */
#confirm-buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

/* Divs de cada botão do novo ícone */
.confirm-buttons-divs {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botões do novo ícone */
.confirm-buttons {
    width: var(--confirm-buttons-width);
    height: var(--confirm-buttons-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #20ff60;
    border-radius: 3px;
    outline: 2px solid #20ff60;
    transition: all 0.3s;
}
.confirm-buttons:hover {
    background-color: #20ff60;
    color: #fff;
    box-shadow: 0px 0px 10px #20ff60;
    transform: scale(1.05);
}

.confirm-buttons-icons {
    width: var(--confirm-buttons-icons-width);
    height: var(--confirm-buttons-icons-height);
    transition: all 0.3s;
}
.confirm-buttons:hover > .confirm-buttons-icons {
    filter: grayscale(1) brightness(1.5);
}

/* Área de carregamento */
#loading-area {
    pointer-events: all;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.3s;
}
#loading-area[class~="closed"] {
    pointer-events: none;
    opacity: 0;
}

/* Div de carregamento */
#loading-div {
    width: var(--loading-width);
    height: var(--loading-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagem do carregamento */
#loading {
    width: var(--loading-width);
    height: var(--loading-height);
    /*animation: Loading 1s linear infinite;*/
}
@keyframes Loading {
    100% {
        rotate: 360deg;
    }
}

/* Área absoluta do popup */
#popup-absolute {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Popups */
.popups {
    position: absolute;
    bottom: calc(0px + calc(var(--popup-height) / 2));
    min-width: var(--popup-width);
    height: var(--popup-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--popup-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.3s;
}

.popups[class~="closed"] {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-30px);
}

/* Barras do popup */
.popup-bars {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s;
}

.popups[class~="green"] > .popup-bars {
    background-color: #20ff60;
}
.popups[class~="red"] > .popup-bars {
    background-color: #f02020;
}

/* Divs das mensagens do popup */
.popup-message-divs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mensagens dos popups */
.popup-messages {
    color: #fff;
    font-size: 16fpx;
}

#home-main {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Aside */
#home-aside {
    width: calc(var(--menu-width) / 2);
}

/* Menu principal */
#home-menu {
    position: fixed;
    z-index: 0;
    top: var(--navigation-height);
    left: 0;
    width: 20%;
    max-width: var(--menu-max-width);
    background-color: var(--menu-color);
    filter: drop-shadow(0px 0px 5px #000);
}

/* Lista do menu */
#home-menu-list {
    width: 100%;
}

/* Itens da lista do menu */
.home-menu-items {
    width: 100%;
    height: var(--menu-items-height);
}

/* Botões dos itens do menu */
.home-menu-buttons {
    position: relative;
    cursor: pointer;
    width: 100%;
    min-width: 220px;
    height: var(--menu-items-height);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--menu-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.3s;
}
.home-menu-buttons:hover {
    filter: brightness(0.8);
}
.home-menu-buttons::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity: 1;
    transition: all 0.3s;
}
.home-menu-buttons[class~="selected"]::after {
    width: 100%;
    background-color: #20ff60;
    opacity: 0.9;
}

/* Divs dos ícones e textos dos links */
.home-menu-icon-divs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--menu-icons-size);
    height: var(--menu-icons-size);
    margin-left: 20px;
}

/* Ícones do menu */
.home-menu-icons {
    position: absolute;
    z-index: 1;
    width: var(--menu-icons-size);
    height: var(--menu-icons-size);
    filter: grayscale(1) brightness(1.5);
}

.home-menu-text-divs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Textos do menu */
.home-menu-texts {
    position: absolute;
    z-index: 1;
    left: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    transition: all 0.3s;
}

#home-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.areas {
    display: none;
}
.areas[class~="selected"] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#buttons-logout-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Div do botão com ícone do usuário */
#user-icon-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/* Botão com ícone do usuário */
#user-icon-button {
    cursor: pointer;
    position: relative;
    width: var(--usericon-size);
    height: var(--usericon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: 3px solid #fff;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
#user-icon-button:hover {
    outline: 3px solid #20ff60;
}
#user-icon-button::after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--usericon-size) / 2);
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../svgs/admin/camera.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(var(--usericon-size) / 4);
    clip-path: circle(calc(var(--usericon-size) / 2) at 50% 0);
    filter: contrast(0.7);
    opacity: 0;
    transition: all 0.3s;
}
#user-icon-button:hover::after {
    opacity: 1;
}

/* Ícone do usuário */
#user-icon {
    position: relative;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

/* Texto da mensagem de boas-vindas */
#welcome-message {
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
    text-align: center;
}

/* Texto da mensagem de online */
#home-online-text {
    font-size: 18px;
    font-family: 400;
    letter-spacing: 0;
    line-height: 24px;
    word-break: break-word;
    word-wrap: break-word;
    color: #d0d0d0;
    margin-top: 5px;
    text-align: center;
}

/* Área principal */
#home-main-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px 0;
}

/* Botões principais */
.home-main-buttons {
    border-radius: 10px;
    outline: 3px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}
.home-main-buttons:hover {
    box-shadow: 0px 0px 3px #20ff60;
    outline: 3px solid #20ff60;
}

/* Área de customização */
#custom-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

/* Divs dos textos */
.main-texts-divs {
    width: 200px;
}

/* Título da customização */
.main-button-titles {
    color: #fff;
    font-size: 20px;
    text-align: left;
}

/* Descrição da customização */
#custom-description {
    color: #f0f0f0;
    font-size: 14px;
    text-align: left;
    text-wrap: wrap;
}

/* Ícone de customização */
#custom-icon {
    width: 90px;
    height: 90px;
}

#home-logout-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#home-logout-button-link {
    text-decoration: none;
}

#home-logout-button {
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: var(--logout-button-color);
    font-size: 16px;
    border: 2px solid var(--logout-button-color);
    border-radius: 5px;
    transition: all 0.3s;
}
#home-logout-button:hover {
    background-color: var(--logout-button-color);
    color: #fff;
    filter: drop-shadow(0px 0px 5px var(--logout-button-color));
    transform: scale(1.05);
}

#logout-button-icon {
    width: 20px;
    height: 20px;
}

#logout-icon-g {
    fill: var(--logout-button-color);
    transition: all 0.3s;
}

#home-logout-button-link:hover ~ #logout-icon-g {
    fill: #fff;
}

/* Texto do botão de log out */
#logout-button-text {
    font-size: 18px;
}

@media screen and (max-width: 1020px) {
    .home-menu-buttons[class~="selected"]::after {
        width: 80px;
    }

    .home-menu-text-divs {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #home-aside {
        width: unset;
    }

    #home-menu {
        width: 100%;
        max-width: unset;
    }

    #home-menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: calc(24px * 2);
    }

    .home-menu-items {
        width: unset;
    }

    .home-menu-buttons {
        min-width: unset;
        height: 100%;
        justify-content: center;
        gap: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }
    .home-menu-buttons::after {
        width: 100%;
        height: unset;
        background-size: 100% 0px;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        transition: all 0.3s;
    }
    .home-menu-buttons[class~="selected"]::after {
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: linear-gradient(90deg, #20ff60, #20ff60);
        background-size: 100% 2px;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        opacity: 1;
        transition: none;
    }

    .home-menu-icon-divs {
        display: none;
        margin-left: unset;
    }

    .home-menu-icons {
        position: static;
        font-size: 16px;
    }

    .home-menu-texts {
        position: static;
        font-size: 16px;
    }
    .home-menu-buttons[class~="selected"] > .home-menu-text-divs > .home-menu-texts {
        color: #20ff60;
    }

    #home-area {
        padding-top: 140px;
    }
    
    .areas[class~="selected"] {
        flex-wrap: nowrap;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    #fixed-div {
        width: 100%;
        height: 100%;
    }
}