:root {
    --page-background-color: #242830;
    --html-background-separator: 80%;
    --home-login-button-width: 150px;
    --home-login-button-height: 45px;
    --home-login-button-border-size: 2px;
    --home-login-button-border-radius: 3px;
    --home-login-button-color1: #28e050;
    --home-login-button-color2: #1fff62;
    --home-image-width: 167.4px;
    --home-image-height: 357px;
    --mobile-button-top: 18px;
    --mobile-button-left: 4px;
    --return-button-color: #1fff62;
    --google-colors-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--page-background-color);
    background-image: linear-gradient(160deg, var(--page-background-color) var(--html-background-separator), #25252c calc(var(--html-background-separator) + 0.1%));
}

img, svg {
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#home-main {
    width: 100vw;
    height: 100vh;
}

#home-background {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#home-background-div {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../svgs/index/background.svg");
    background-size: 100% 100%;
    animation: BackgroundDiv 0.5s linear;
    transition: all 0.3s;
}

@keyframes BackgroundDiv {
    0% {
        opacity: 0;
    }
}

.background-boxes {
    position: absolute;
    display: block;
}

.box-1 {
    background-color: #30f060;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2), transparent);
    transform: rotate(45deg);
    animation: BoxStart1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), BoxHover 2s ease-in-out infinite 1s;
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}
.box-1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: 100% 100%;
    background: linear-gradient(to top, rgba(255,255,255,0.24) 0%, rgba(255,255,255,0) 60%);
    transform: rotateZ(45deg) scale(1.5);
}

.box-2 {
    background-color: #606060;
    opacity: 0;
    transform: rotate(50deg);
}

@keyframes BoxStart1 {
    0% {
        opacity: 0;
        transform: scaleX(0.1) scaleY(0);
    }
    50% {
        opacity: 1;
        transform: scaleX(0.05) scaleY(1);
    }
}

@keyframes BoxHover {
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -3px);
    }
}

/* Container */
#home-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-area {
    position: absolute;
    left: 0;
    width: calc(100% + 50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    transition: all 0.3s;
}
#home-area[class~="right"] {
    left: -50%;
}

#home-text-section {
    width: 50%;
    transition: all 0.3s;
}
#home-text-section[class~="closing"] {
    pointer-events: none;
    transform: translateX(-100%);
    opacity: 0;
}
#home-text-section[class~="closed"] {
    display: none;
}

#home-texts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
    margin-left: 100px;
}

#texts-div {
    width: 100%;
    margin: auto;
}

#home-title-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Título da página principal */
#home-title {
    position: relative;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
#home-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: calc(100% + 2px);
    width: 1px;
    height: 40px;
    background-color: #fff;
    animation: HomeTitleTyping 1s linear infinite 1.5s;
}
@keyframes HomeTitleTyping {
    0%, 49% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

#home-title-icon {
    width: 40px;
    margin-right: 10px;
    transition: all 0.3s;
}

#home-subtitle-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}

#home-subtitle {
    color: #999;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}

#home-login-button-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

#home-login-button {
    position: relative;
    width: calc(var(--home-login-button-width) + calc(var(--home-login-button-border-size) * 2));
    height: calc(var(--home-login-button-height) + calc(var(--home-login-button-border-size) * 2));
    background: linear-gradient(to right, var(--home-login-button-color1), var(--home-login-button-color2), var(--home-login-button-color1));
    border-radius: calc(var(--home-login-button-border-radius) + 1px);
    transition: all 0.3s;
}
#home-login-button::before {
    content: "";
    width: var(--home-login-button-width);
    height: var(--home-login-button-height);
    display: block;
    position: absolute;
    z-index: 0;
    top: var(--home-login-button-border-size);
    left: var(--home-login-button-border-size);
    background-color: var(--page-background-color);
    border-radius: var(--home-login-button-border-radius);
    transition: all 0.3s;
}
#home-login-button::after {
    content: "Fazer login";
    width: calc(var(--home-login-button-width) + calc(var(--home-login-button-border-size) * 2));
    height: calc(var(--home-login-button-height) + calc(var(--home-login-button-border-size) * 2));
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--home-login-button-color1), var(--home-login-button-color2), var(--home-login-button-color1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 18px;
    transition: all 0.3s;
}

#home-login-button:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    filter: drop-shadow(0px 0px 5px var(--home-login-button-color1));
}
#home-login-button:hover::before {
    background: linear-gradient(to right, var(--home-login-button-color1), var(--home-login-button-color2), var(--home-login-button-color1));
}
#home-login-button:hover::after {
    background: unset;
    color: #fff;
}

#home-signup-div {
    border-radius: 5px;
    margin-left: 100px;
}

#home-signup {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: left;
}

#home-signup-link {
    color: rgb(40, 216, 49);
    font-weight: 600;
}
#home-signup-link:hover {
    text-decoration: underline;
}

#home-image-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#home-image-div {
    position: relative;
    width: var(--home-image-width);
    height: var(--home-image-height);
    animation: HomeImageHover 3s ease-in-out infinite;
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255, 0.2));
    transition: all 0.3s;
}
#home-image-div[class~="rotate"] {
    animation: none;
    rotate: -90deg;
}

@keyframes HomeImageHover {
    50% {
        transform: translateY(-3px);
    }
}

/* Vídeo mobile */
#mobile-video-div {
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: 101px;
    left: -80px;
    width: 327px;
    height: 158px;
    rotate: 90deg;
}
#mobile-video {
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 15px;
}
#home-image-div > #mobile-video-div {
    display: none;
}
#home-image-div[class~="rotate"] > #mobile-video-div {
    display: block;
}

/* Botão para virar telefone */
#mobile-button {
    position: absolute;
    z-index: 2;
    top: var(--mobile-button-top);
    left: var(--mobile-button-left);
    width: calc(100% - calc(var(--mobile-button-left) * 2));
    height: calc(100% - calc(var(--mobile-button-top) * 1.9));
    border-radius: 15px;
}

#home-image-mobile {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: var(--home-image-width);
    height: var(--home-image-height);
    background-image: url("../images/mobile.png");
    background-size: 100% 100%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

#home-image {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: var(--home-image-width);
    height: var(--home-image-height);
    background-size: 100% 100%;
    border-radius: 30px;
    transition: all 1s;
}

/* Sessão do formulário */
#home-form-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#home-form-section[class~="closed"] {
    display: none;
}
#home-form-section[class~="right"] {
    width: 75%;
}

/* Divs dos formulário */
.form-divs {
    background-color: #1a1d26;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.3s;
}
.form-divs[class~="closing"] {
    pointer-events: none;
    transform: translateX(200px);
    opacity: 0;
}
.form-divs[class~="closed"] {
    display: none;
}
.form-divs[class~="opening"] {
    pointer-events: none;
    transform: translateX(200px);
    opacity: 0;
}
.form-divs[class~="opened"] {
    opacity: 1;
}

/* Divs do títulos dos formulários */
.form-title-divs {
    margin: 10px 0;
}

/* Títulos dos formulários */
.form-titles {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

/* Div do botão de retornar */
#return-button-div {
    margin-top: 10px;
}

/* Sessão do google */
#google-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Div "ou" */
#google-or-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

/* "Ou" */
#google-or {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* Botão do google */
#google-button {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    background-size: 200% 2px;
    background-position: 0% calc(100%);
    background-repeat: repeat-x;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    transition: all 0.3s;
}
#google-button:hover {
    filter: contrast(0.8);
}
#google-button[class~="on"] {
    background-image: linear-gradient(90deg,
        #E04030 0%, #E04030 25%,
        #FABA05 26%, #FABA05 50%,
        #35AA50 51%, #35AA50 75%,
        #4085F5 76%, #4085F5 100%
    );
    animation: GoogleButton 1s linear infinite;
}
@keyframes GoogleButton {
    100% {
        background-position-x: 200%;
    }
}

/* Ícone do google */
#google-button-icon {
    width: 24px;
    height: 24px;
}

#google-colors-div {
    position: absolute;
    width: 100%;
}

/* Cores da logo do google */
.google-colors {
    position: absolute;
    display: block;
    transition: all 0.3s;
}

@keyframes GoogleColors {
    50% {
        transform: translateY(-3px);
    }
}
.google-colors {
    top: -15px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-image: url("../svgs/index/google.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#google-button[class~="on"] > #google-colors-div > .google-colors {
    background-image: none;
    top: unset;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: GoogleColors 1s ease-in-out infinite;
}
#google-button[class~="on"] > #google-colors-div > .google-colors.red {
    left: calc(calc(50% - calc(var(--google-colors-size) / 2)) - 30px);
    background-color: #E04030;
    animation-delay: 0s;
}
#google-button[class~="on"] > #google-colors-div > .google-colors.yellow {
    left: calc(calc(50% - calc(var(--google-colors-size) / 2)) - 10px);
    background-color: #FABA05;
    animation-delay: 0.1s;
}
#google-button[class~="on"] > #google-colors-div > .google-colors.green {
    left: calc(calc(50% - calc(var(--google-colors-size) / 2)) + 10px);
    background-color: #35AA50;
    animation-delay: 0.2s;
}
#google-button[class~="on"] > #google-colors-div > .google-colors.blue {
    left: calc(calc(50% - calc(var(--google-colors-size) / 2)) + 30px);
    background-color: #4085F5;
    animation-delay: 0.3s;
}

/* Texto do google */
#google-button-text {
    color: #000;
    font-size: 18px;
    margin-left: 45px;
}
#google-button[class~="on"] > #google-button-text-div > #google-button-text {
    color: transparent;
}

/* Botão de retornar */
#return-button {
    width: 120px;
    height: 45px;
    background-color: transparent;
    color: var(--return-button-color);
    border: 2px solid var(--return-button-color);
    border-radius: 3px;
    font-size: 18px;
    transition: all 0.3s;
}
#return-button:hover {
    background-color: var(--return-button-color);
    color: #fff;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 5px var(--return-button-color));
}

@media screen and (max-width: 768px) {
    #home-background-div {
        width: 100%;
        background-size: contain;
        opacity: 0.75;
    }

    #home-area {
        width: 200%;
        height: 100%;
        gap: unset;
    }
    #home-area[class~="right"] {
        left: -100%;
    }

    #home-text-section {
        width: 50%;
        margin: unset;
    }

    #home-texts-div {
        width: 100%;
        margin-left: unset;
    }

    #home-title-div {
        justify-content: center;
    }

    #home-subtitle {
        text-align: center;
        max-width: 80%;
        margin: auto;
    }

    #home-login-button-div {
        justify-content: center;
    }

    #home-signup-div {
        margin-left: unset;
    }

    #home-signup {
        text-align: center;
    }

    #home-image-section {
        display: none;
    }

    #home-form-section[class~="right"] {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    html, body {
        overflow-y: auto;
    }
}