:root {
    --sign-area-background-color: #fafafa;
    --sign-text-inputs-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    --sign-radio-color: #20ff60;/*rgb(101, 140, 197);*/
    --input-outline-color: #20ff60;
    --input-icon-size: 20px;
    --warning-icon-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.sign-mains {
    width: 100vw;
    height: 100vh;
}

.sign-containers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-areas {
    background: var(--sign-area-background-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    padding: 2rem;
}

.sign-titles {
    font-size: 36px;
}

.sign-subtitles {
    color: #666;
    font-size: 20px;
    font-weight: lighter;
}

.sign-form-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sign-forms {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    column-gap: 10px;
    row-gap: 5px;
}

.sign-grid-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-grid-1 {
    grid-column: 1;
    grid-row: 1;
}

#sign-grid-2 {
    grid-column: 2;
    grid-row: 1;
}

#sign-grid-3 {
    grid-column: 1;
    grid-row: 2;
}

#sign-grid-4 {
    grid-column: 2;
    grid-row: 2;
}

#sign-grid-5 {
    grid-column: 1;
    grid-row: 3;
}

#sign-grid-6 {
    grid-column: 2;
    grid-row: 3;
}

#sign-grid-7 {
    grid-column: 1;
    grid-row: 4;
}

#sign-grid-8 {
    grid-column: 2;
    grid-row: 4;
}

#sign-grid-9 {
    grid-column: span 2;
    grid-row: 5;
}

.sign-labels {
    color: #fff;
    font-size: 18px;
}

/* Divs das labels de gênero */
.sign-labels-gender-divs {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-2px);
}

.sign-labels.gender {
    cursor: pointer;
    font-size: 13px;
    transition: all 0.3s;
}
.sign-labels.gender:hover {
    color: #20ff60;
}

.sign-input-divs {
    position: relative;
}

.sign-text-inputs {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 250px;
    height: 40px;
    padding: 5px 15px;
    padding-left: calc(var(--input-icon-size) * 2);
    border-radius: 3px;
    box-shadow: var(--sign-text-inputs-shadow);
    -moz-box-shadow: var(--sign-text-inputs-shadow);
    -webkit-box-shadow: var(--sign-text-inputs-shadow);
    outline: 2px solid rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
.sign-text-inputs:hover {
    outline: 2px solid #888;
}
.sign-text-inputs:focus {
    outline: 2px solid var(--input-outline-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    outline: 2px solid #20ff60;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.sign-text-inputs[class~="error"] {
    outline: 2px solid #f02020;
}

/* Ícones dos inputs */
.input-icons {
    pointer-events: none;
    width: var(--input-icon-size);
    height: var(--input-icon-size);
    position: absolute;
    top: calc(50% - calc(var(--input-icon-size) / 2));
    left: calc(0% + calc(var(--input-icon-size) * 0.5));
    filter: contrast(0);
    transition: all 0.3s;
}
.sign-text-inputs:focus ~ .input-icons {
    filter: unset;
}

.sign-text-inputs[class~="error"] ~ .input-icons {
    filter: invert(1) hue-rotate(45deg) brightness(1.5);
}

.input-warning-icons {
    width: var(--warning-icon-size);
    height: var(--warning-icon-size);
    position: absolute;
    top: calc(50% - calc(var(--warning-icon-size) / 2));
    left: calc(100% - calc(var(--warning-icon-size) * 1.5));
}
.input-warning-icons[class~="hide"] {
    display: none;
}

::-webkit-calendar-picker-indicator {
    background-image: none;
    /*background-image: url("../svgs/calendar.svg");*/
}

#sign-radio-option-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sign-radio-divs {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0px 3px 0px 3px;
    border-radius: 3px;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
.sign-radio-divs:hover {
    outline: 2px solid #20ff60;
}
.sign-radio-divs[class~="error"] {
    outline: 2px solid #f02020;
}

input[type="radio"] {
    appearance: none;
    background-color: transparent;
    color: var(--sign-radio-color);
    cursor: pointer;
    display: grid;
    place-content: center;
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 2px solid var(--sign-radio-color);
    border-radius: 50%;
    transition: all 0.3s;
    transform: translateY(-0.075em);
}
input[type="radio"]::before {
    content: "";
    background-color: var(--sign-radio-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}
input[type="radio"]:checked::before {
    transform: scale(1);
}
input[type="radio"]:focus {
    /*outline: max(2px, 0.15em) solid currentColor;*/
    outline-offset: max(2px, 0.15em);
}

.sign-submits {
    width: 250px;
    height: 48px;
    background-color: #20ff60;
    color: #fff;
    font-size: 18px;
    border: 2px;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    transition: all 0.3s;
}
.sign-submits:hover {
    filter: brightness(1.1);
}

.sign-redirect-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.sign-redirects {
    color: #f0f0f0;
    font-size: 14px;
    text-align: center;
}

.sign-redirect-links {
    font-weight: bold;
    text-decoration: underline;
}

.sign-warning-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sign-warnings {
    color: #f04040;
    font-size: 14px;
    text-align: center;
    max-width: 250px;
    text-shadow: 0px 0px 2px #f02020;
}

.sign-warning-links {
    font-weight: bold;
}
.sign-warning-links:hover {
    text-decoration: underline;
}

/* Botões de trocar formulários */
.open-form-buttons {
    color: #20ff60;
    font-weight: bold;
}
.open-form-buttons:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    .sign-areas {
        width: 100%;
        padding: 10px;
    }

    .sign-forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sign-grid-divs {
        width: 100%;
    }

    .sign-labels.gender {
        font-size: inherit;
    }

    .sign-text-inputs {
        width: 90vw;
    }

    .sign-radio-divs {
        gap: 10px;
    }
}