:root {
    --sign-area-background-color: #fafafa;
    --sign-text-inputs-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    --sign-radio-color: #aaa;/*rgb(101, 140, 197);*/
    --warning-icon-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-size: 100% 100%;
}

img, svg {
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.sign-mains {
    width: 100vw;
    height: 100vh;
}

.sign-containers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-areas {
    background: var(--sign-area-background-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    padding: 2rem;
}

.sign-titles {
    font-size: 36px;
}

.sign-subtitles {
    color: #666;
    font-size: 20px;
    font-weight: lighter;
}

.sign-form-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sign-forms {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    column-gap: 10px;
    row-gap: 5px;
}

.sign-grid-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-grid-1 {
    grid-column: 1;
    grid-row: 1;
}

#sign-grid-2 {
    grid-column: 2;
    grid-row: 1;
}

#sign-grid-3 {
    grid-column: 1;
    grid-row: 2;
}

#sign-grid-4 {
    grid-column: 2;
    grid-row: 2;
}

#sign-grid-5 {
    grid-column: 1;
    grid-row: 3;
}

#sign-grid-6 {
    grid-column: 2;
    grid-row: 3;
}

#sign-grid-7 {
    grid-column: 1;
    grid-row: 4;
}

#sign-grid-8 {
    grid-column: 2;
    grid-row: 4;
}

#sign-grid-9 {
    grid-column: span 2;
    grid-row: 5;
}

.sign-labels {
    width: 100%;
    color: #444;
}
.sign-labels.gender {
    font-size: 12px;
}

.sign-text-inputs {
    background-color: #f7f7f7;
    color: #444;
    width: 225px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: var(--sign-text-inputs-shadow);
    -moz-box-shadow: var(--sign-text-inputs-shadow);
    -webkit-box-shadow: var(--sign-text-inputs-shadow);
    transition: all 0.3s;
}
.sign-text-inputs:focus {
    outline: 1px solid #404040;
}

.sign-input-divs {
    position: relative;
}

.input-warning-icons {
    width: var(--warning-icon-size);
    height: var(--warning-icon-size);
    position: absolute;
    top: calc(50% - calc(var(--warning-icon-size) / 2));
    left: calc(100% - calc(var(--warning-icon-size) * 1.5));
}

.input-warning-icons[class~="hide"] {
    display: none;
}

::-webkit-calendar-picker-indicator {
    background-image: url("../svgs/calendar.svg");
}

#sign-radio-option-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sign-radio-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type="radio"] {
    appearance: none;
    background-color: #f7f7f7;
    color: var(--sign-radio-color);
    cursor: pointer;
    display: grid;
    place-content: center;
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 2px solid var(--sign-radio-color);
    border-radius: 50%;
    transform: translateY(-0.075em);
}
input[type="radio"]::before {
    content: "";
    background-color: var(--sign-radio-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}
input[type="radio"]:checked::before {
    transform: scale(1);
}
input[type="radio"]:focus {
    /*outline: max(2px, 0.15em) solid currentColor;*/
    outline-offset: max(2px, 0.15em);
}

.sign-submits {
    width: 180px;
    height: 48px;
    background-color: #101010;
    background-size: 1000% 100%;
    color: #fff;
    font-size: 18px;
    border: 2px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1rem;
    transition: all 0.3s;
}
.sign-submits:hover {
    background-position: 100% 100%;
}

.sign-redirect-divs {
    margin-top: 15px;
}

.sign-redirects {
    color: #404040;
    font-size: 16px;
}

.sign-redirect-links {
    font-weight: bold;
    text-decoration: underline;
}

.sign-warning-divs {
    margin-top: 10px;
}

.sign-warnings {
    font-size: 14px;
    text-align: center;
    display: block;
    max-width: 80%;
    margin: auto;
}

.sign-warning-links {
    font-weight: bold;
}
.sign-warning-links:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    .sign-areas {
        width: 100%;
        padding: 10px;
    }

    .sign-forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sign-grid-divs {
        width: 100%;
    }

    .sign-labels.gender {
        font-size: inherit;
    }

    .sign-text-inputs {
        width: 90vw;
    }

    .sign-radio-divs {
        gap: 10px;
    }
}